.container {
  background-color: yellow;
  list-style-type: none;
  display: flex;
  padding: 0;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
}

.item{
  background-color: purple;
  width: 100px;
  height: 100px;
  margin: 0 0 0 10px;
}