<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Quiz Show! Main Page.</title>
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="../static/style.css"></script>
</head>

<body>
  <div class='wrapper'>
    <div class='score'></div>
    <div class='question-box'>
      <h1 class='question'></h1>
      <p class='answer one'></p>
      <p class='answer two'></p>
      <p class='answer three'></p>
      <p class='answer four'></p>
    </div>
    <a href="http://localhost:3000/questions">Manage questions</a>
  </div>
  <script src="../static/frontend.js"></script>
</body>

</html>