* {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #CFDEF3, #E0EAFC);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  top: 30px;
  display: flex;
  width: 1000px;
  height: 450px;
}

.arrow {
  display: flex;
  flex-grow: 1;
  background-color: white;
}

.left {
  display: flex;
  background-image: url('./assets/arrowleft.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right {
  display: flex;
  background-image: url('./assets/arrowleft.svg');
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.image {
  display: flex;
  flex-grow: 8;
  background-color: black;
  background-size: cover;
  align-items: flex-end;
}

.hover {
  bottom: 0;
  position: relative;
  height: 30%;
  width: 100%;
  opacity: 0.5;
}

.thumbnailscontainer {
  display: flex;
  width: 70%;
  height: 100px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.thumbnails {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.tnbox {
  position: relative;
  height: 80px;
  width: 80px;
  background-size: cover;
  margin: 0 10px;
  box-shadow: 3px 4px 5px black;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.mainbox {
  border-style: solid;
  border-width: 4px;
  border-color: #708090;
}

.firstbox {

}

.lastbox {
  
}