*{
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

p{
  margin: 10px;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper{
  display: flex;
  height: 100%;
  overflow: hidden;
  margin: 20px 50px 50px 50px;
  margin: 0 auto;
  width: calc(100% - 100px);
}

.container{
  display: flex;
  top: 50;
  left: 0;
  margin: 20px 50px 0 50px;
  position: fixed;
  background-color: purple;
  height: 100px;
  width: calc(100% - 100px);
  display: flex;
  list-style-type: none;
  justify-content: left;
  align-items: center;
}
.item {
  background-color: cyan;
  width: 80px;
  height: 40px;
  margin: 10px;
}

.content {
  background-color: orange;
  flex: 2 0 0;
  height: calc(100% - 100px);
  margin-top: 120px;
  overflow-y: auto;
}

.sidecontent {
  background-color: green;
  flex: 1 0 0;
  height: calc(100% - 100px);
  margin-top: 120px;
  overflow-y: auto;
}

